html, body
{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #02050F !important;
}

/*Code css thanh scroll*/
::-webkit-scrollbar {
	width: 10px;
	background-color: #000;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(#fff, #fff, #e4e4e4);
  border: 1px solid #aaa;
}
/*END Code css thanh scroll*/


.background1{
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
}

.background2{
  position: absolute;
  z-index: 90;
  width: 100%;
  top: 0;
}

.background3 {
  position: absolute;
  z-index: 80;
  width: 100%;
  top: 0;
}

.menu_home{
  position: relative;
  z-index: 150;
}

.header_home{
  position: relative;
  z-index: 90;
}

.playbutton_home{
  position: relative;
  top: -70px;
  z-index: 150;
}

/*hover hiện div của icon tele header*/
.icontelegram-header {
  cursor: pointer;
}

.navbar-telegram {
  display: none !important;
  margin-top: -44px;
  float: right;
  margin-right: 140px;
}

.navbar-telegram .form-inline {
  background-image: url(../image/Rectangle21.png);
  width: 190px;
  height: 260px;
}

.navbar-telegram ul li {
  margin-top: 9px;
  margin-left: 10px;
}

.icontelegram-header:hover + .navbar-telegram {
  display: block !important;
  position: absolute;
  float: right;
  top: 100px;
  right: -8px;
}

.navbar-telegram:hover {
  display: block !important;
  position: absolute;
  float: right;
  top: 100px;
  right: -8px;
}

.navbar-telegram li a {
  text-decoration: none;
  color: #FFFFFF;
}
/*END hover hiện div của icon tele header*/


/*hover hiện div của icon EMAIL header*/
.iconemail-header {
  cursor: pointer;
}

.navbar-email {
  display: none !important;
  margin-top: -46px;
  float: right;
  margin-right: -18px;
}

.navbar-email .form-inline {
  background-image: url(../image/Rectangle22.png);
  width: 250px;
  height: 260px;
}

.navbar-email ul li {
  margin-top: 9px;
  margin-left: 10px;
}

.iconemail-header:hover + .navbar-email {
  display: block !important;
  position: absolute;
  float: right;
  top: 100px;
  right: -8px;
}

.navbar-email:hover {
  display: block !important;
  position: absolute;
  float: right;
  top: 100px;
  right: -8px;
}

.navbar-email li {
  color: #FFFFFF;
}

.navbar-email li a {
  text-decoration: none;
  color: #FFFFFF;
}
/*END hover hiện div của icon EMAIL header*/



/*PAGE NFT*/

.content-wrapper {
  position: relative;
  z-index: 90;
}

.claim_content{
  text-align: center;
  color: #f1f1f1;
}

.claimnft-title {
  font-size: 60px;
  font-weight: 400px;
  padding-top: 90px;
}

.claimnft-desc {
  font-size: 20px;
  font-weight: 400px; 
  margin-top: -20px;
}

.claimnft_box .container .row {
  margin-top: 130px;
}


.frames_one, .frames_two, .frames_three{
  margin-top: -420px;
}

.frames_one p, .frames_two p, .frames_three p {
  color: #6f6f6f;
}

.frames_one h2, .frames_two h2, .frames_three h2 {
  color: #fff;
}

.frames_one_content p, .frames_two_content p, .frames_three_content p {
  font-size: 16.18px;
}

.frames_one_desc p, .frames_two_desc p, .frames_three_desc p {
  font-size: 20px;
}

.hsovandsovihoder_videobox video{
  width: 70%;
}

.bg-claimnft {
  background-image: url(../image/background/Asset2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 170px;
}

.nft-base {
  margin-top: 150px;
}

.btn-game-levelexperience {
  margin-top: -60px;
}

/*Không gian character*/

.character {
  background-image: url(../image/backgroundofcharacter/Character_Bg1.b568b977.png);
  padding-bottom: 10px;
}

.character-img {
  cursor: pointer;
}

.character-video {
  z-index: 300;
}

.character-video video {
  
  margin-top: -100px;
  margin-left: 60px;
}

/*PLAY TO EARN*/

.playtoearn {
  background-image: url(../image/background/Asset\ 3\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-frames-character {
  z-index: 300;
  margin-top: -50px;  
}

.title-name-character {
  color: #31FFDA;
  font-size: 25px;
}

.description-character {
  color: #FFFFFF;
  font-size: 18px;
  height: 100px;
}

.opacity-img-character {
  opacity: 0.5;
}

/*PLAY TO EARN SPACE*/

.div-title-playtoearn {
  margin-top: 80px;
}

.img-team-1-playtoearn img {
  margin-top: -80px;
}

.title-team-1-playtoean {
  font-size: 50px;
  color: #44C2C7;
  line-height: 50px;
}

.content-team-1-playtoearn {
  padding-top: 20px;
  color: #FFFFFF;
  font-size: 23px;
  line-height: 30px;
}

.img-contribute-and-gain-playtoearn img {
  margin-top: 170px;
  margin-bottom: 170px;
}

.contribute_and_gain_content {
  margin-top: 170px;
}


/*TRADE AND BIT*/

.tradeandbid {
  background-image: url(../image/background/Bide_2_3\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -70px;
  height: 650px;
}

.img-tradeandbid-title img {
  margin-top: 250px;
}

.tradeandbid-content p {
  color: #FFFFFF;
  padding-top: 30px;
  font-size: 23px;
  line-height: 26px;
}

/* advantagefeatures */

.advantagefeatures {
  background-image: url(../image/background/Asset\ 4\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-advantagefeatures img {
  margin-top: 100px;
  margin-bottom: 50px;
}

.title {
  font-size: 40px;
  color: #FFFFFF;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.img-shieldbackers img {
  margin-top: 50px;
}

.content-shieldbackers p {
  padding-top: 20px;
  font-size: 20px;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.area-logopartner img {
  margin-top: 50px;
  margin-bottom: 50px;

  position: relative;
}

.area-logopartner img:hover {
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translateY(-9px);
}

.icon-footer {
  margin-top: 120px;
  margin-bottom: 130px;
}

.img-icon-footer {
  margin-right: 45px;
}

.img-icon-footer:hover {
  transform: translateY(-9px);
  text-decoration: none;
}